<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Identity Manager Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ CdnUrl }}/css/interfacey.min.css">
</head>
<body style="text-align: center; padding: 10%">
    <h1>You are logged in {{ Username }}</h1>

    <form method="get" action="/account/logout/">
        <button class="btn btn-primary" name="button" value="logout">Logout</button>
    </form>
</body>
</html>
